@using Microsoft.Data.SqlClient;
@{
    ViewData["Title"] = "Home Page";


}

<div class="text-center">
    <h1 class="display-4">Camp Registration 101</h1>
    <p>The point of the website will be for a camp to be able to set up what camp sessions and dates they will be running for, and add some statuses that they can give to applications (Waitlist, pending, accepted, denied, priority,etc)
       Those two areas will be restricted for 'administrators' only and be underneath the administration tab.</p>

    <p>For non-administrators (people applying for the camp) the only parts of the site they will see is pages with info, and the basic camper application form (Campers/Create), and this will create a camper with a blank session and blank status, which the administrators will then be able to modify as they process the applications</p>
</div>
