
@{
    ViewData["Title"] = "Administration";
}

<h1>Administration</h1>
<a class="nav-link text-dark" asp-area="" asp-controller="CampSessions" asp-action="Index">Manage Camp Sessions</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Campers" asp-action="Details">Manage Campers</a>

